@using SamaniCrm.Application.DTOs
@code {
    [Parameter] public MenuDTO Item { get; set; } = default!;
    [Parameter] public bool IsChild { get; set; } = false;
}

@if (Item.Children != null && Item.Children.Any())
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            @Item.Title
        </a>
        <ul class="dropdown-menu">
            @foreach (var child in Item.Children)
            {
                <MenuItem Item="child" IsChild="true"/>
            }
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        @if(Item.Icon != null){
            <i class="@Item.Icon"></i>
        }
        <NavLink class="@(IsChild == true ?"dropdown-item":"nav-link")" href="@Item.Url">@Item.Title</NavLink>
    </li>
}

